{% if not title %}
	{% set title = "Sami Kulonpää" %}
{% endif %}

<!doctype html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<title> {{ title }} </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<!-- navbar styles -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav class="topnav" id="responsiveTopnav">
			<a href="/" class="active">Home</a> -
			<a href="/blog">Blog</a>
			{% if currentUser() %}
				<a href="/newpost">New post</a>
			{% endif %}
			<a href="/newcontact">Contact me</a>
			{% if currentUser() %}
				<a href="/contactlist">Read messages</a> 
				<a>Hello, {{ currentUser().email }}!</a> 
				<a href="/user/logout">Log out</a>
			{% else %} 
				<a href="/user/login">Log in</a> 
				<a href="/user/register">Sign up</a>
			{% endif %}
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i></a>
		</nav>
		
		{% if get_flashed_messages() %}
			{% for message in get_flashed_messages() %}
				<p><mark>{{ message }}</mark><p>
			{% endfor %}
		{% endif %}

		<aside>
                	{% block  aside %}
			<p>
			</p>
                	{% endblock aside %}
		</aside>

		<main>
			<h1>
			{% block heading1 %}
			{{ title }}
			{% endblock heading1 %}
			</h1>	
	
			{% block main %}
			<p>
			Hello base's main block
			</p>
			{% endblock main %}
		</main>
	
		<footer>
                	{% block footer %}
			<hr>
			<p>
			© 2021 Copyright: Sami Kulonpää<br>
			<a href="https://kulonpaa.com/" target="_blank">kulonpaa.com</a><br>
			<a href="https://www.linkedin.com/in/sami-kulonp%C3%A4%C3%A4/" target="_blank">LinkedIn</a><br>
			<a href="https://github.com/samikul" target="_blank">Github</a>
                	</p>
			{% endblock footer %}
		</footer>
		
		<script>
		function myFunction() {
			var x = document.getElementById("responsiveTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		} 
		</script>
	</body>
</html>
